
<div class="Main-H" data-aos="fade-down-left">
    <div class="subH-1">
        <h1 style="color: rgba(41, 62, 146, 0.926);">Thaqafatuk | ثقافتك</h1>
    </div><br/>

    <div class="subH-2">

        <h4>مرحباً بك في ثقافتك لتكون جزءاً من هذا الوعي و النمو و الفهم</h4>
        <h4>تهتم منصة ثقافتك في إلقاء الضوء على بعض الأمور الغامضة التي يعاني منها البعض و يتصارع معها دون أن نعلم</h4>
        <h4>تقدم منصة ثقافتك محتوى علمي ثقافي مقتبس من كتب و تجارب و علماء و أخصائيون نفسانيون، لتأخذ بأيد أبناء مجتمعاتنا العربية نحو الوعي و الثقافة النفسية</h4>

    </div>

</div>

<div class="container">
    <div class="section-1" data-aos="fade-up-right">
        <div class="row">
            <div class="col">
                <div>
                    <img id="img-1" src="/images/training.png">

                </div>
            </div>
            <div class="col">
                <div class="text">
                    <h1 class="H" style="color: rgb(0, 0, 0);">تثقيف </h1><br />
                    <p>نحاول بأن يكون هذا الموقع مرجعاً ثقافيا و علمياً للكثير من الشباب و الشابات في مجتمعاتنا العربية </p>
                        <p>و ذلك بالهدف الأسمى لهذا الموقع هو أن يكون هناك وعي بين مجتمعاتنا في هذا الجانب ليعرف الكل</p>
                        <p>بما يمر به البعض من تقلبات و انتكاسات نفسية تعصر به و تلون حياته باللون الأسود</p>
                    

                </div>
            </div>
        </div>
    </div>


        <div class="section-2" data-aos="fade-up-left">
            <div class="row">
                <div class="col">
                    <div class="text-2">
                        <h1 class="H" style="color: rgb(0, 0, 0);"> الوعي</h1><br />
                        <p>نطمح بأن يكون لدى الكل ذلك الوعي الطب النفسي و اضطراباته، أن يعني الفرد أن الحياة ليست وردية كما يعتقد عندما كان </p>
                        <p>صغيرا، وإنما هي عبارة عن مواقف و أحداث يمر بها الإنسان و يعيشها و يتأثر بها و منها، فتتكون شخصية الانسان بناءا </p>
                       <p> على مايمر به فنجد تنوعا في الشخصيات و الانكاط و السلوكيات و الأفكار، أن يعني بما يمر به غيره و كيف يتعامل معه.</p>
                        
                        
                    </div>
                </div>
                <div class="col">
                    <div class="B-img">
                        <div>
                            <img id="img-2" src="/images/psychology.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-3">
            <div class="items">
                <div class="inline-Img">
                    <div class="In-img" data-aos="zoom-in-right">
                        <img src="images/anxiety.png" width="100px" /><br><br />
                        <p class="sec4-string">
                            نسعى بأن يكون هذا الموقع معيناً و مساعداً لفهم طرق تفكير من حولك لتتعامل معهم و تتعايش معهم
                        <p>

                    </div>

                    <div class="In-img" data-aos="zoom-in-right">
                        <img src="/images/analysis.png" width="100px" /><br><br />
                        <p class="sec4-string">ستتطلع على سير لعلماء و أطباء قدموا الكثير لعلم النفس و البشرية لنقتبس من نورهم ما يعبد لنا الطريق لفهم البشرية<p>

                    </div>

                    <div class="In-img" data-aos="zoom-in-left">
                        <img src="/images/psyc.png" width="100px" /><br><br />
                        <p class="sec4-string">نسعى بهذالموقع أن نسلط الضوء على الإضطرابات العقلية و النفسية التي تغير
                            من سلوك الإنسان
                        <p>

                    </div>



                    <div class="In-img" data-aos="zoom-in-left">
                        <img src="/images/social-care.png" width="100px" /><br><br>
                        <p class="sec4-string">نرجواأن يكون هذا الموقع مرجعاً علمياً وثقافياً ليكون عوناً لبعض الفائات التي تعاني من بعض الأزمات العقلية و النفسية<p>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script>
    AOS.init();
  </script>
    <script src="/javascripts/editorText.js"></script>
      <script src="/javascripts/lightMode.js"></script>


