<title>{{title}}</title>

<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('/images/pexels-fauxels-3183190.jpg');
    max-width:100%;
     margin-top:200px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

    height:90vh;
    
  "
    >
      <h1 id="" class="text-white">قصتُنا</h1>
</div>


<div class="about-us">
      <h1>البداية</h1>
      <div class="our-story">
       <p>بدأت هذه الفكرة تدور في مخليتنا منذ 2019 بعد تعمقنا في قراءة علم النفس و البحث فيه، و بعد أن تعمقنا مع أخصائيون نفسانيون </p>
       <p>لنقتبس من نور تجاربهم و علمهم، فكنا نبحث كثيرا في هذا الجانب في المجتوى العربي و الأجنبي، أحيانا نجدً ما نبحث عنه و أحيانا  لا نجده</p>
       <p>و في أحدى الأيام شعرنا أن هناك ضعف في المحتوى العربي في هذا الجانب ، من ناحية الوعي والثقافة، حيث أننا أردنا أن نجد محتوى عربي غير أكاديمي</p>
       <p>و لكننا لم نجد ما قصدناه و إن وٌجد فمازلنا بحاجة إلى توسعة المحتوى العربي النفسي </p>
      </div>


         <h1>من نحن</h1>

         <p>قارئ عربي متخخص في البرمجة و تقنية المعلومات، مهتم اهتمام كبير بعلم النفس و تحديداً التحليل النفسي</p>
         <p>أرى الحياة منةنافذة القراءة و أجد نفسي بين كتب علم و النفس و سير العلماء و المؤلفين في هذا الجانب</p>

         <h1>هدفنا</h1>
         <p>هدفنا أن تكون مجتمعاتنا العربية ذات وعي بعلم النفس و هذا الجانب،أن نأخذ القارئ بيده إلى المعلومة دون تكلف و بلغةٍ مفهوة غير أكاديمية</p>
         <p>حيث أن ما يطرح في هذا الموقع هو بحث شخصي ليس له علاقة أكاديمية مؤسسية، فنحن نطمع أن يكون الشاب العربي على وعي بمكونات النفس البشرية</p>
         <p>و أن يكون واعياً بالإضطرابات النفسية و العقلية ليكون على وعي بالنعامل مع حالة يعرفها أو صادفها</p>
         <p>هدفنا أيضاً أن يكون هذا الموقع مرجعاً ثقافياً للمهتمين و القراء </p>


</div>