<form action="newJoin" method="post" style="text-align:center;">
    <div class="mb-3" style="margin-left:350px;">
        <label for="exampleInputEmail1" class="form-label" dir="rtl">اسم المتقدم</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="Pname" aria-describedby="emailHelp"
            value="">
    </div>

    <div class="mb-3"  style="margin-left:350px;">
        <label for="exampleInputPassword1" class="form-label" dir="rtl"> الإيميل</label>
        <input type="text" class="form-control" name="Pemail" id="exampleInputPassword1" value="">
    </div>

    <div class="mb-3" style="margin-left:150px;">
        <label for="exampleInputPassword1" class="form-label" dir="rtl"> نبذة عنك ماهي الاضافات التي قد تضيفها لنا في
            الموقع </label>
        <textarea></textarea>
    </div>




    <button type="submit" class="btn btn-primary">إضافة</button>
</form>