<div class="content-details">
   {{#each items}}
   <title>{{this.name}}</title>
   <img class="card-img-top" id="img" width="10px" height="100px" alt="Card image cap">
   <h5 class="card-title">{{this.name}}</h5>
   <p class="content-text" style=" font-size:10vmin;"><b>{{{this.content}}}</b></p>    
   {{/each}}




</div>
<script src="/javascripts/contentActions.js"></script>
<script src="javascripts/sending.js"></script>