
<div class="book-details">
   {{#each items}}
                   <img src="/images/{{this.pic}}" alt="Card image cap" width="50%">

          <h5 class="card-title">{{this.name}}</h5>
         
          <p class="card-text">{{this.content}}</p>
   {{/each}}
</div>