<title>{{title}}</title>

<div  id="Main-Card" class="card mb-3">
    <img class="card-img-top" src="/images/pexels-olenka-sergienko-3646172.jpg" width="10px" height="300px" alt="Card image cap">
    <div class="card-body" dir="rtl">
        <h5 class="card-title">كن على دراية بسير علماء النفس و أطباءه</h5>
        <p class="card-text">حتى نكون واعياُ تماماُ فيما يخص علم نفس، فلا بد أن نكون مطلعين على أطباء علم و نفس و تحليله</p>
    </div>
</div>



<div class="container" id="container-Sc">
    <div class="row">
            {{#each items}}
        <div class="col" id="Scientist-border">
            
          <img src="/images/{{this.pic}}" class="rounded-circle"  width="204" height="236" alt="Card image cap" ><br>
           <span class="Scientist-title">{{this.name}}</span><br/>
             <a href="/pages/scientists-detales/{{this._id}}" id="link-sc" ><p> تعرف عليه </p></a>


        </div>
            {{/each}}    
    </div>
</div>
