
<div class="book-details">
   {{#each items}}
                <title>{{this.name}}</title>

                   <img src="/images/{{this.pic}}" class="rounded-circle"  width="304" height="236" alt="Card image cap" >

          <h5 class="card-title">{{this.name}}</h5>
         
          <p class="card-text">{{this.content}}</p>
   {{/each}}
</div>