
<div class="content-details" style="text-align:center;">
   {{#each items}}
         <div class="standard-C" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; width: 100%;">
          <h6 dir="rtl" id="standard-T" style="margin-right:150px; padding-top:10px;">{{this.title}}</h6><br/>
          <h6 dir="rtl" id="standard-D">{{this.time}}</h6><br/>
          </div>
          <p style="margin:0px;padding:0px;text-align: center;">{{{this.info}}}</p>
   {{/each}}

  
</div>