<title>{{title}}</title>


<div class="card" style="width:100%;">
  <div class="card-body">
    <p class="card-text">هذه الاختبارات ليست دقيقة للتشخيص وإنما للفائدة و الثقافة ، أمور التشخيص تحتاج مختصين</p>
  </div>
</div>




<div class="container">
    <div class="row">
            {{#each items}}
        <div class="col">
            <div class="card" id="card-standaer">
                 <div class="card-header" id="header-standaer" style="text-align:center;">
                    الاختبارات والمقاييس
                 </div>
               <div class="card-body" id="body-standaer" >
                   <a href="/pages/standard/{{this.title}}" style="text-decoration:none;">
                    <h5 class="card-title" id="title-standaer">اختبار {{this.title}}</h5>
                   </a>
                   <p class="card-text" id="text-standaer">{{this.header}}</p>
                </div>
            </div>
        </div>
           {{/each}}    
    </div>
</div>
