
<div class="book-details">
   {{#each items}}
  
             <title> {{this.title}}</title>

          <h3 dir="rtl">{{this.title}}</h3><br/>
          <p dir="rtl">{{this.content}}</p>
   {{/each}}
</div>