<div class="book-details">
   {{#each items}}

  
   <title> {{this.title}}</title>
   <h3 dir="rtl">{{this.title}}</h3><br/>
   <p dir="rtl">{{{this.content}}}</p>
   <input type="hidden" id="id" value="{{this._id}}">
   <button id="like" style="border:none;cursor: pointer; float:left;hover:background-color:red;"><i id="iconLike" class="fa-brands fa-gratipay fa-x2" style="margin:5px;float: left; hover:background-color:red;"></i></button>
   <i id="liked" class="fa-solid fa-heart fa-x2" style="margin:5px;float:left; display:none; color:red;"></i>
   {{/each}}


</div>
<script src="/javascripts/contentActions.js"></script>