<div class="contentA">
    <div class="idntyfiy">
        <h3><em>رحلة التعافي والعلاج</em></h3><br/>
        <p>رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك 
       رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك 
       رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك 
        رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك   رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  رحلة التعافي هي رحلة تبدأ من نقطة تةجد في داخلك  
        </p>



    </div>

    <div class="Stage-1" data-aos="fade-down-left">

        <h3>dhsaj</h3>
        <h1 class="NumberStage" data-aos="fade-up-right">1</h1><br />
        <h5 class="Steps" data-aos="fade-up-right">
            </h3><br />
            <h5 class="Steps"  data-aos="fade-down-left">
                </h3><br />
                <h5 class="Steps" data-aos="fade-up-right">
                    </h3><br />
                    <h5 class="Steps"  data-aos="fade-down-left">
                        </h3><br />





    </div>




    <div class="Stage-2" data-aos="fade-up-right">

        <h3>dhsaj</h3>
        <h1 class="NumberStage2"  data-aos="fade-down-left">2</h1><br />
         <h5 class="Steps2" data-aos="fade-down-left">
            </h3><br />
            <h5 class="Steps2" data-aos="fade-up-right">
                </h3><br />
                <h5 class="Steps2" data-aos="fade-down-left">
                    </h3><br />
                    <h5 class="Steps2" data-aos="fade-up-right">
                        </h3><br />

      


    </div>

    <div class="Stage-3" data-aos="fade-down-left">

        <h3>dhsaj</h3>
        <h1 class="NumberStage" data-aos="fade-up-right" >3</h1><br />
            <h5 class="Steps"  data-aos="fade-down-left">
                </h3><br />
                <h5 class="Steps" data-aos="fade-up-right">
                    </h3><br />
                    <h5 class="Steps"  data-aos="fade-down-left">
                        </h3><br />





    </div>



</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script>
    AOS.init();
  </script>